[submodule "BD"]
	path = BD
	url = git@github.com:carkos1/BD.git
[submodule "MULT"]
	path = MULT
	url = git@github.com:carkos1/MULT.git
[submodule "EA"]
	path = EA
	url = git@github.com:carkos1/EA/
[submodule "PC"]
	path = PC
	url = git@github.com:carkos1/PC/
[submodule "SD"]
	path = SD
	url = git@github.com:carkos1/SD
