[submodule "BD"]
	path = BD
	url = git@github.com:carkos1/BD.git
[submodule "MULT"]
	path = MULT
	url = git@github.com:carkos1/MULT.git
[submodule "EA"]
	path = EA
	url = git@github.com:carkos1/EA/
[submodule "PC"]
	path = PC
	url = git@github.com:carkos1/PC/
[submodule "SD"]
	path = SD
	url = git@github.com:carkos1/SD
[submodule "FIA"]
	path = FIA
	url = git@github.com:carkos1/FIA
[submodule "AI"]
	path = AI
	url = git@github.com:carkos1/AI.git
[submodule "IPRP"]
	path = IPRP
	url = git@github.com:carkos1/IPRP.git
[submodule "POO"]
	path = POO
	url = git@github.com:carkos1/POO.git
